In [10]:
with open('One.txt') as mytext:
    words_one = mytext.read().lower().split()
    uni_words_one = set(words_one)

In [12]:
uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [13]:
with open('Two.txt') as mytext:
    words_two = mytext.read().lower().split()
    uni_words_two = set(words_two)

In [14]:
uni_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [15]:
all_uni_words = set()
all_uni_words.update(uni_words_one)

In [17]:
all_uni_words.update(uni_words_two)

In [18]:
all_uni_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [20]:
full_vocab = dict()
i=0

for word in all_uni_words:
    full_vocab[word] = i
    i=i+1

In [21]:
full_vocab

{'popular': 0,
 'a': 1,
 'catching': 2,
 'animals': 3,
 'is': 4,
 'water': 5,
 'canine': 6,
 'are': 7,
 'waves': 8,
 'about': 9,
 'our': 10,
 'furry': 11,
 'surfing': 12,
 'fun': 13,
 'pets': 14,
 'story': 15,
 'this': 16,
 'sport': 17,
 'dogs': 18}

In [22]:
one_freq = [0]*len(full_vocab)
two_freq = [0]*len(full_vocab)
all_words = ['']*len(full_vocab)

In [23]:
one_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [24]:
with open('One.txt') as f:
    one_text = f.read().lower().split()

In [26]:
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] += 1

In [27]:
one_freq

[0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 2]

In [28]:
with open('Two.txt') as f:
    two_text = f.read().lower().split()

In [30]:
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind] += 1

In [31]:
two_freq

[1, 1, 1, 0, 3, 1, 0, 0, 1, 1, 0, 0, 2, 1, 0, 1, 1, 1, 0]

In [32]:
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [33]:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind]=word

In [34]:
all_words

['popular',
 'a',
 'catching',
 'animals',
 'is',
 'water',
 'canine',
 'are',
 'waves',
 'about',
 'our',
 'furry',
 'surfing',
 'fun',
 'pets',
 'story',
 'this',
 'sport',
 'dogs']

In [36]:
import pandas as pd
bow = pd.DataFrame(data=[one_freq,two_freq], columns=all_words)

In [37]:
bow

,popular,a,catching,animals,is,water,canine,are,waves,about,our,furry,surfing,fun,pets,story,this,sport,dogs
0,0,1,0,1,1,0,1,1,0,1,1,1,0,0,1,1,1,0,2
1,1,1,1,0,3,1,0,0,1,1,0,0,2,1,0,1,1,1,0