In [1]:
import numpy as np
import pandas as pd

In [4]:
email = 'jose@email.com'

In [5]:
email.split('@')

['jose', 'email.com']

In [6]:
names = pd.Series(['andrew','bobo','claire','david','5'])

In [8]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [9]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [10]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [11]:
'5'.isdigit()

True

In [12]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [13]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [15]:
len(tech_finance)

2

In [16]:
tickers = pd.Series(tech_finance)

In [17]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [21]:
tickers.str.split(',',expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [22]:
messy_names = pd.Series(['andrew  ',"bo;bo","   claire   "])

In [23]:
messy_names

0        andrew
1           bo;bo
2       claire
dtype: object

In [24]:
messy_names[0]

'andrew  '

In [30]:
messy_names.str.replace(';','').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [32]:
def cleanup(name):
    name = name.replace(';','')
    name = name.strip()
    name = name.capitalize()
    return name

In [33]:
messy_names

0        andrew
1           bo;bo
2       claire
dtype: object

In [34]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object