In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
#help(pd.Series)

In [6]:
myindex = ['USA','Canada','Mexico']

In [7]:
mydata = [1776,1867,1821]

In [16]:
myser = pd.Series(mydata,myindex)

In [17]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [18]:
type(myser)

pandas.core.series.Series

In [19]:
myser[0]

1776

In [20]:
myser['USA']

1776

In [21]:
ages = {'Sam':5,'Frank':10,'Spike':7}

In [22]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [23]:
q1 = {'Japan':80, 'China':450, 'India':200, 'USA': 250}
q2 = {'Brazil':100, 'China': 500, 'India':210, 'USA':260}

In [24]:
sales_q1 = pd.Series(q1)

In [25]:
sales_q2 = pd.Series(q2)

In [26]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [27]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [28]:
sales_q1['Japan']

80

In [29]:
sales_q1[0]

80

In [30]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [31]:
[1,2] * 2

[1, 2, 1, 2]

In [32]:
np.array([1,2]) * 2

array([2, 4])

In [33]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [34]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [35]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [36]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [37]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [41]:
first_half = sales_q1.add(sales_q2,fill_value=0)

In [40]:
sales_q1.dtype

dtype('int64')

In [42]:
first_half.dtype

dtype('float64')